&spmi_bus {
	qcom,pm8994@0 {
		qcom,power-on@800 {
			compatible = "qcom,qpnp-power-on";
			reg = <0x800 0x100>;
			interrupts = <0x0 0x8 0x0>,
						 <0x0 0x8 0x1>,
						 <0x0 0x8 0x4>,
						 <0x0 0x8 0x5>;
			interrupt-names = "kpdpwr", "resin", "kpdpwr-bark",
					"resin-bark", "kpdpwr-resin-bark";
			qcom,pon-dbc-delay = <15625>;
			qcom,system-reset;
			qcom,store-hard-reset-reason;
			qcom,s3-debounce = <32>;

			qcom,pon_1 {
				qcom,s1-timer = <6720>;
				qcom,s2-timer = <2000>;
				qcom,s2-type = <7>;
				qcom,use-bark;
			};

			qcom,pon_2 {
				qcom,s1-timer = <0>;
				qcom,s2-timer = <2000>;
				qcom,s2-type = <1>;
				qcom,use-bark;
			};

			qcom,pon_3 {
				/delete-property/ qcom,pull-up;
			};
		};
		pm8994_gpios: gpios {
			gpio@d500 {
				reg = <0xd500 0x100>;
				qcom,pin-num = <22>;
				status = "okay";
			};
		};
		
		pm8994_rtc: qcom,pm8994_rtc {
			qcom,qpnp-rtc-alarm-pwrup = <1>;
		};
	};
};
